$light-green:#C0E1CF;
$light-pink: #FAF7F1 ;
$light-orange:#f77b72 ;
$middle-pink:#E1C0B0; ;
$my_white:#fff; 
$winter_sky:#BADAC9;
$money_gold:#F8D12D;
$old_pink: #80465F;
$strong_orange:#EB6950;
$sweet_pink: #F3D0C7;